<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wgsi_test</title>
</head>

<body>
    <h1>Hello my Flask_WGSI</h1>
    <p>日本語 {{ city }} </p>
    <div>お名前: {{ name }}</div>
    <div>計算結果: {{ calc }}</div>
    <div>
        <img src="images/toilet.jpg">
    </div>
    <a href="{{url_for('sub1')}}">
        <h1>Go to Link</h1>
    </a>


</body>

</html>